

.product-name{
    font-weight:400 ;
    color: hsl(13, 31%, 94%);
}

.product-category{
    font-size: 14px;
}

.product-price{
color: hsl(14, 86%, 42%);
}

.container {
    width: 300px;
    height: 350px;
    background-color: grey;
    position: relative;
}

.button{
    background-color: red;
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
*{box-sizing: border-box;
margin: 0px;
padding: 0px;}